#include <String.h>

char thingname[] = "MYTHING";
char aws_endpoint[] = "xxxx.iot.us-west-2.amazonaws.com";
char aws_key[]         = "MYKEY";
char aws_secret[]      = "mysecret";
char aws_region[]      = "us-west-2";
int port = 443;
const char * aws_topic = String("$aws/things/" + String(thingname) + "/shadow/update").c_str();

